<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="Cluster.NodeId" value="1" />
  </appSettings>

  <akka>
    <hocon>
      <![CDATA[
        akka {
            actor {
                provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                
                deployment {
                    
                    /firstLevelActor {
                        router = round-robin-pool
                        routees.paths = ["/user/firstLevelActor"]
                        nr-of-instances = 10
                        dispatcher = akka.actor.default-dispatcher
                        cluster {
                          enabled = on
                          allow-local-routees = on
                          max-nr-of-instances-per-node = 3
                          use-role = Primary
                        } #cluster
                    }
                    
                    /secondLevelActor {
                        router = round-robin-pool
                        routees.paths = ["/user/secondLevelActor"]
                        nr-of-instances = 10
                        dispatcher = akka.actor.default-dispatcher
                        cluster {
                          enabled = on
                          allow-local-routees = on
                          max-nr-of-instances-per-node = 3
                          use-role = Secondary
                        } #cluster
                    }
                    
                    /thirdLevelActor {
                        router = round-robin-pool
                        routees.paths = ["/user/thirdLevelActor"]
                        nr-of-instances = 10
                        cluster {
                          enabled = off
                          allow-local-routees = on
                          max-nr-of-instances-per-node = 3
                          use-role = Tertiary
                        } #cluster
                    }
                }
                
            } #actor
            
            default-dispatcher {
              type = Dispatcher
              executor = "thread-pool-executor"
              thread-pool-executor {
                core-pool-size-min = 2
                core-pool-size-factor = 1.0
                core-pool-size-max = 4
              }
              throughput = 10
              mailbox-capacity = -1
              mailbox-type = ""
            }
            
            remote {
                dot-netty.tcp {
                  transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
                  applied-adapters = []
                  transport-protocol = tcp
                  port = 9002
                  hostname = "127.0.0.1"
                }
            } #remote
            
            cluster {
              seed-nodes = ["akka.tcp://AkkaRemoteCluster@127.0.0.1:4054"]
              roles = ["Primary", "Secondary", "Tertiary"]
            }
        }
    ]]>
    </hocon>
  </akka>
  <log4net debug="true">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <file type="log4net.Util.PatternString" value="D:\Learning\Akka\code\Logs\RemoteCluster\LogNode1_" />
      <appendToFile value="True" />
      <datePattern value="yyyy-MM-dd hh_mm_ss'.xml'" />
      <rollingStyle value="Once" />
      <maximumFileSize value="50MB" />
      <maxSizeRollBackups value="-1" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        <locationInfo value="true" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
